button{
    width: 25%;
    height: 50px;
    
}
button[id = "b0"]{
    width: 75%;
}
div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 100%;
    height: 50px;
}

.Igual{
    width: 75%;
    background-color: chocolate;
    color: white;
}

.Borrar{
    background-color: chocolate;
    color: white;
}

.Operador{
    background-color: chocolate;
    color: white
}